HELP.md

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IDE-Specific ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Keep workspace.xml ignored
.idea/workspace.xml

# Eclipse / Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Build Directories ###
build/

### VS Code ###
.vscode/
