
.footer-container{
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    top: 100vw;
    /* border: 1px solid white; */
    left: 0;
    height: 5vw;
  }

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
  }

  .footer-logo{
    background: linear-gradient(to right, #714dff, #9c83ff, #e151ff, #fff759);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    /* padding-left: 10px;  */

  }
  .copyright-text{
    display: inline-block;
    font-size: 15px;
    color: #767676;
    margin-left: 100px;
  }
  .footer-links {
    display: flex;
    gap: 1rem; /* Space between links */
}

.footer-links a {
    color: #767676;
    font-size: 15px;
    text-decoration: none;
}

.footer-links a:hover {
    color: white; /* Optional: Change color on hover */
}
