.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  #title,
  #experimentType{
    background-color: #1f2937;
    border: 1px solid rgb(131, 131, 131);
    color: #ccc;
  }
  #instructions{
    background-color: #1f2937;
    border: 1px solid rgb(131, 131, 131);
    color: #ccc;
    height: 10vh;
  }
  .date-picker button{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    background-color: #1f2937;
    border: 1px solid rgb(131, 131, 131);
    color: #ccc;
  }
  .modal {
    background: black;
    border: 1px solid rgb(94, 94, 94);
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
  
  .modal-title {
    font-size: 1.5rem;
    background: linear-gradient(to right, #714DFF, #E151FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .modal-subtitle {
    color: #666;
    margin-bottom: 1rem;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .switch-group p{
    font-size: 12px;
    color: #9898a5;
  }
  .switch-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .radio-group {
    display: flex;
    gap: 1rem;
  }
  .radio-group label{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .form-group.switch-group{
    display: flex;
    flex-direction: row;
  }
  .modal-footer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .btn-outline {
    border: 1px solid #ccc;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
  
  .btn-primary {
    background: linear-gradient(to right, #714DFF, #9C83FF);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
  }
  